 <h1>Password Reset</h1>

<p>
  Hello! Click the link below to reset your password for your Autumn's Playdate account.
 <br>

  <a href="#" class="btn btn-primary btn-lg active" role="button" aria-pressed="true"><%= link_to 'reset password', edit_password_reset_url(@user.password_reset_token) %></a>
  <br>
</p>

