<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12" style="background-color:lavenderblush;">
      <% @playdates.each do |playdate| %>
      <p><%= link_to playdate.name, playdate_path(playdate.id) %> - <%=playdate.datetime.strftime("%b %e, %l:%M %p")%></p>
<%end%>
</div>
</div>
</div>


