<h1> Family </h1></br>

<% @family.children.each do |child| %>
  <h3> Child:</h3> <%= child.name.capitalize %>
<%end%>

<% @family.users.each do |user| %>
  <h3> Users:</h3> <%= user.name.capitalize %>
<%end%>

<%= form_tag ({controller: 'sessions', action: 'destroy', method: 'post'}) do %>
  <input type=submit value='logout'>
<% end %>
