/*
*= require switchery
*/

@import "bootstrap";

body { 
  background: image_url('green2.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

b {
  color: #00a18a;
 }

.title {
  color: #ff5000;
}

.content {
    background: white;
    float: none; 
    padding-top: none;
    padding-bottom: 1%;
    margin-bottom: 1%;
    overflow-x: hidden  
}

.content2 {
    background: white;
    float: none; 
    padding-top: none;
    padding-bottom: 1%;
    padding-left: 1%;
    padding-right: 1%;
    overflow-x: hidden   
}

.cont2 {
    background: #f2f7ff;
    -moz-box-shadow: 0 0 10px rgba(0,0,0,.9);
    -webkit-box-shadow: 0 0 10px rgba(0,0,0,.9);
    box-shadow: 0 0 15px rgba(0,0,0,.5);
    float: none; 
    padding-top: none;
    padding-bottom: 1%;
    overflow-x: hidden  
}

.friends {
}

#form label {
top-margin: 20px;
bottom-margin: 2px;  
}
.blue {
  color: #007bff;
}

.red {
  color: red;
}
.navbar {
    background-color: #9be881 !important;
    border-color: white !important;
}
.navbar-brand {
    color: #00a18a !important;
}

.nav-link {
  color: white !important;
}

.innerbox {
   width:250px; /* or whatever width you want. */
   max-width:250px; /* or whatever width you want. */
   display: inline-block;
   background-color: white;
   margin: 0% auto;
   margin-bottom: 4px;
   padding-left: 1%;
   border: 1px solid #ff5000; 
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

.alert {
  color: red;
}

@media (min-width: 992px) { 

.container {
  width: 50%;
}

.small {
     font-size: 70%;
     float: right;
}
.small-left{
  font-size: 60%;
  float: left;
  margin-right: 10px;

}

.comment {
  line-height: 50%;
}

.test {color: #00a18a;}

}


