@import "bootstrap";



body { 
  background: image_url('2.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}



b {
  color: #00a18a;;
}

.title {
  color: #ff5000;
}
.test {color: #00a18a;}

.content {
    background: white;
    -moz-box-shadow: 0 0 10px rgba(0,0,0,.9);
    -webkit-box-shadow: 0 0 10px rgba(0,0,0,.9);
    box-shadow: 0 0 15px rgba(0,0,0,.5);
    float: none; 
    padding-top: none;
    padding-bottom: 1%;
    padding-right: 1%;
    padding-left: 1%;
    
    overflow-x: hidden  
}

.friends {

}

#form label {
top-margin: 20px;
bottom-margin: 2px;  
}

.navbar {
    background-color: #ff5000 !important;
    border-color: white !important;
}
.navbar-brand {
    color: white !important;
}

.nav-link {
  color: white !important;
}

.innerbox
{
   width:250px; /* or whatever width you want. */
   max-width:250px; /* or whatever width you want. */
   display: inline-block;
   background-color: white;
   margin: 0% auto;
   margin-bottom: 4px;
   padding-left: 1%;
   border: 1px solid #ff5000; 
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}
.alert {
  color: red;
}
@media (min-width: 992px) { 

.container {
  width: 50%;
}

.small {
     font-size: 70%;
     float: right;
}
.small-left{
  font-size: 70%;
  float: left;
  margin-right: 10px;

}
 }


